.places {
    display: inline-block;
    text-align: center;
}
fieldset {
    width: 200px;
    height: 150px;
}
.text {
    width: 200px;
    height: 50px;
    text-align: center;
}
h2 {
    color: #009AC7;
}